<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Star Social </title>
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {# MEDIUM STYLE EDITOR#}
       <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'simplesocial/css/star.css' %}">
        

        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">





<body class='loader'>


  <nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">


      <ul class="nav navbar-nav">
        <li><a class='navbar-brand bigbrand' href="{% url 'home' %}">Star Social</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right  ">

        {% if user.is_authenticated %}
        <li>
          <a href="#" >Post</a>
        </li>

        <li>
          <a href="#">Groups</a>
        </li>
        <li>
          <a href="#">Create Group</a>
        </li>
        <li>
          <a href="{% url 'accounts:logout' %}" >Logout</a>
        </li>
        
          {% else %}
          <li><a  href="#">Groups</a></li>
         <li> <a  href="{% url 'accounts:login' %}">Login</a></li>
         <li> <a  href="{% url 'accounts:signup' %}">Sign Up</a></li>
          
        {% endif %}

      </ul>
  </div>
</nav>


  {# The actual blog posts#}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  
                    {% block content %}
                    {% endblock %}


                </div>
            </div>
        </div>

{# SCRIPTS#}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript">
//   $("a").hover(function(){
//       $("a").css("background-color", "");
//     $(this).css("background-color", "gray");
// });

$("a").hover(function(){
  $(this).css("background-color", "#c7c7c7 ");
  }, function(){
  $(this).css("background-color", "");
});

</script>

</body>
</html>
